.Home__Container {
  margin: auto;
  max-width: 80ch;
  padding: 2rem;
  font-size: 1.25rem;
}

.Home__Title {
  text-align: center;
}

.Home__HR {
  width: 90%;
  opacity: 0.25;
  margin: 2rem auto;
}

.Home__IntroText {
  line-height: 2rem;
}

.Home__List {
  line-height: 2rem;
}
