*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Spline Sans Mono', monospace;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 50vw;
  background-color: #000000;
  height: 1px;
}

p {
  line-height: 1.5rem;
}

/* ===Blogs Route=== */
.Blogs__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
